#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.paper {
    zoom: .75;
    page-break-inside: avoid;
    page-break-after: always;
}

.page {
    width: 210mm;
    height: 297mm;
    overflow: hidden;
}

.body {
    margin-left: 10mm;
    margin-top: 10mm;
    width: 190mm;
    height: 270mm;
    /*outline: 2px solid red;*/
}

.column {
    width: 55mm;
    height: 270mm;
    min-height: 270mm;
    min-width: 55mm;
    margin-left: 10mm;
    -webkit-flow-from: flow-main;
            flow-from: flow-main;

    /*display: inline-block;*/
    float: left;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.column:first-of-type {
    margin-left: 0mm;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 7pt;
}

@page {
    size: 210mm 297mm;
    margin: 0mm;
}