/**
 * Defines and loads the rules that set the geometry of the page and its
 * representation on screen. This is the core of html2print.
 *
 * Customize the variables to your needs.
 */

:root {
    /* the geometry of the page */
    --page-width: 148.5mm;
    --page-height: 210mm;

    /* the size of the crop marks based on scribus defaults */
    --crop-size: 5mm;

    /* the size of bleed */
    --bleed: 3mm;
}
