/* ==========================================================================
       Variables
   ========================================================================== */

/**
* Defines and loads the rules that set the geometry of the page and its
* representation on screen. This is the core of html2print.
*
* Customize the variables to your needs.
*/

:root {
    /* the geometry of the page */
    --page-width: 210mm;
    --page-height: 297mm;
    --column-count: 3;
    --column-gap: 5mm;

    --header-height: 0mm;
    --footer-height: 0mm;

    --header-content: "";
    --foooter-content: "";

    --header-align: center;
    --footer-align: center;

    /* the size of the crop marks based on scribus defaults */
    --crop-size: 0mm;

    /* the size of bleed */
    --bleed: 0mm;
    --trim: 0mm;
    --marks: crop cross;
    --mark-length: 0;
    --mark-offset: 0;
    --mark-width: 0;

    --page-number: counter(page-number);
}


/* ==========================================================================
        HTML2print
   ========================================================================== */

@media screen {
    body { background-color: #f0f0f0; }

    .paper {
        width: var(--page-width);
        height: var(--page-height);
        margin: auto;
        margin-top: 3mm;

        background: white;
    }
}

#stories article {
    -webkit-flow-into: flow-main;
    flow-into: flow-main;
}

.column {
    -webkit-flow-from: flow-main;
    flow-from: flow-main;
}

.paper {
    /* zoom: .75; */
    /*
    width: var(--page-width);
    height: var(--page-height);
    */
    padding: 0;
    page-break-inside: avoid;
    page-break-after: always;
}

.page {
    position: relative;

    overflow: hidden;

    width: var(--page-width);
    height: var(--page-height);
}

html,
body {
    margin: 0;
    padding: 0;

    font-size: 7pt;
}

@page  {
    margin: 0mm;
    size: var(--page-width) var(--page-height);
}





/* ==========================================================================
   default styles
   ========================================================================== */

/**
 * Macro-structure
 * ===============
 */

.body,
.body:before,
.body:after { position: absolute; }

.body:before,
.body:after { z-index: 500; }


/**
 * Zone de composition principale
 * ------------------------------
 */
.header {
    position: absolute;
    top: var(--margin-top);
    right: var(--margin-right);
    left: var(--margin-left);
    height: var(--header-height);

    overflow: hidden;

    text-align: var(--header-align);
}

.header:after {
    content: var(--header-content);
}

.body {
    position: absolute;
    top: calc(var(--margin-top) + var(--header-height));
    right: var(--margin-right);
    bottom: calc(var(--margin-bottom) + var(--footer-height));
    left: var(--margin-left);

    overflow: hidden;
}

.footer {
    position: absolute;
    bottom: var(--margin-bottom);
    right: var(--margin-right);
    left: var(--margin-left);
    height: var(--footer-height);

    overflow: hidden;

    text-align: var(--footer-align);
}

.footer:after {
    content: var(--footer-content);
}

.column {
    float: left;

    width: calc(100% / var(--column-count) - var(--column-gap));
    max-height: 100%;
    padding-right: calc(var(--column-gap) / 2);
    padding-left: calc(var(--column-gap) / 2);
}

.column:first-child {
    width: calc(100% / var(--column-count) - var(--column-gap) / 2);
    padding-left: 0;
}

.column:last-child {
    width: calc(100% / var(--column-count) - var(--column-gap) / 2);
    padding-right: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

/**
 * Page number counter
 * -------------------
 */
body {
    counter-reset: page-number;
}

.page {
    counter-increment: page-number;
}

/* ==========================================================================
   default styles
   ========================================================================== */

article { line-height: 12pt; }

