html,
body {
    height: 100%;
}

body {
    background-color: #F6F6F6;
    box-sizing: border-box;
}

.main-wrapper {
    height: 100%;
}

.toolbar {
    height: 30px;
}

.panes {
    height: calc(100% - 30px);
    box-sizing: border-box;
    padding: 8px;
}

.split {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    border: 1px solid #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    background-color: #fff;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

#editor {
    display: flex;
    flex-direction: column;
}

#html {
    flex: 0 0 auto;
    padding: 5px 5px 10px 5px;
    display: flex;
    flex-direction: row;
}

#html-field-wrapper {
    flex: 1 0 auto;
}

#html-field-wrapper div {
    display: flex;
    flex-direction: row;
}

#save {
    flex: 0 0 auto;
}

#html label { flex: 0 0 auto; margin-right: 5px; padding-top: .65em;}

#html-field { flex: 1 1 auto; }

#css {
    flex: 1 0 auto;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
}

.editor-wrapper {
    flex: 1 0 auto;
}

label, input {
    font-size: 90%;
    font-family: sans-serif;
}

input {
    padding: 4px;
    border: 1px solid #999;
}

input:focus {
    border: 1px solid #ef1010;
}

#preview {
    display: flex;
    flex-direction: column;
}

#preview-frame {
    width: 100%;
    flex: 1 0 auto;
}

#editor, #preview { position: relative; }

#generate {
    position: absolute;
    top: 5px;
    right: 20px;
}

.spin:before {
    content: "↻";
    display: inline-block;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}


.switch-field { display: inline-block; }


/*
 * Toggle code, taken from <http://thestizmedia.com/radio-buttons-as-toggle-buttons-with-css/>
 */


.switch-field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    padding-left: 40px;
    overflow: hidden;
}

.switch-title {
    margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
