<header>
    <h1 class="headline">Le grand Robert</h1>
    <p class="header-byline">Quentin Noirfalisse</p>
    <div class="lead">
        <p>Robert Cailliau, ça vous dit quelque chose ? Au début des années 90, cet
            informaticien belge a été un des deux créateurs du web. Il a permis
            de faire entrer la Toile dans le domaine public.</p>
    </div>
</header>

<blockquote>
<p>« Cher Monsieur Noirfalisse,</p>
<p>Merci de votre intérêt. En 2013, j’ai décidé pour plusieurs raisons de ne plus intervenir sur ces sujets en conférence ou en interview. […]</p>
<p>Meilleures salutations, R. Cailliau. »</p>
</blockquote>

<p>Caramba ! Encore raté. En 2011, déjà, j’avais essayé sans succès de parler à Robert
    Cailliau. Il préférait consacrer son temps à écrire et à restaurer son site
    internet. Pourquoi tant d’acharnement journalistique sur un informaticien belge,
    désormais à la retraite et expatrié pas loin de Genève, à la frontière franco-suisse ?
    Parce que, tout chauvinisme belgicain mis à part, Robert Cailliau a joué un
    rôle capital et largement méconnu dans l’élaboration et la dissémination du
    web.</p>
<h2>Idées à lier</h2>
<p>Mais commençons par le commencement. Au début du XX<sup>e</sup> siècle, avec l’explosion
    de la littérature scientifique, quelques visionnaires veulent rassembler les
    savoirs du monde, les relier entre eux, les stocker en un seul « espace ».
    Se développe alors un lignage d’idées grandioses : des <em>« télescopes électriques » </em>du
    Belge Paul Otlet, qui permettaient de se plonger dans la connaissance du monde,
    au MeMex de Vannevar Bush, bibliothèque gigantesque de microfilms, en passant
    par le projet Xanadu du sociologue américain Ted Nelson, un répertoire mondial
    complexe de textes digitaux. C’est ce dernier qui inventa le terme<br> « hypertexte »,
    aujourd’hui bien connu : <em>« Un ensemble de matériaux écrits ou picturaux interconnectés de façon si complexe qu’il ne peut pas être commodément présenté ou représenté sur papier. » </em>Ces
    trois projets ne se réaliseront jamais entièrement. Quelques décennies plus
    tard, dans les années 70 et 80, la technologie d’Internet permet à quelques
    initiés de faire communiquer des ordinateurs reliés par des câbles. Et même
    de s’échanger des e-mails.</p>
<p>Un des deux hommes qui vont relier toutes ces inventions, c’est Robert Cailliau.
    Formé à Gand et dans le Michigan, cet ingénieur en mécanique des fluides perçoit
    le besoin de classer et d’organiser les données produites en masse chez les
    scientifiques depuis les années 60. Il se tourne vers l’informatique et, en
    1974, intègre le CERN (Organisation européenne pour la recherche nucléaire),
    le plus grand centre de physique des particules au monde, situé près de Genève.
    Cailliau atterrit dans la Division de gestion des données. Il estime qu’il
    faut faire plus que bêtement imprimer la quantité pantagruélique de documents
    que génère le CERN ou de la classer dans des bases de données : lui veut <em>« naviguer dedans ». </em>Un
    autre scientifique de la maison, Tim Berners-Lee, physicien et programmeur,
    n’en peut plus de l’éclatement des systèmes et des bases de données. En 1989,
    il envoie une proposition à son boss, Mike Sendall, pour mettre en place un
    système d’échange d’informations basé sur la technologie Internet et l’hypertexte.
    Sendall écrit sur la proposition ces mots devenus célèbres chez les informaticiens
    : « <em>Un peu vague, mais prometteur. </em> »</p>
<h2>La vie en vert</h2>
<p>En 1990, Tim Berners-Lee et Robert Cailliau sont autorisés à travailler sur ce
    projet et obtiennent des moyens humains et financiers. Ils développent les
    trois piliers du web : les URL ou adresses web, le langage HTML pour donner
    une forme aux pages et un protocole de transfert, le HTTP.</p>
<p>En quelques mois, le <em>world wide web</em> naît. Le nom a été proposé par Berners-Lee,
    lors de discussions à la cafétéria, sans qu’une ligne de code ait encore été
    écrite. Cailliau trouve ça un peu difficile à prononcer en français. Mais comme
    il est atteint de synesthésie, un phénomène neurologique par lequel deux sens
    sont associés, chaque fois qu’il voit un W, il voit également du vert, sa couleur
    préférée. Il accepte donc les trois W. Le premier logo du web, dessiné par
    Cailliau lui-même, sera donc vert et blanc.</p>
<p>Le Belge développe aussi Samba, le premier navigateur pour Mac, et prend son bâton
    de pèlerin pour populariser le web à travers des conférences. Surtout, écrit
    Tim Berners-Lee, Cailliau pousse la direction du CERN à renoncer aux droits
    de propriété intellectuelle sur la technologie WWW et à la faire entrer dans
    le domaine public. Les deux inventeurs font le choix, à ce moment-là, d’un
    accès aisé à leur technologie, au détriment de leur richesse personnelle. La
    suite est mieux connue : ouvert, le web va devenir un lieu de créativité remarquable
    mais aussi un terrain commercial et de surveillance gigantesque. Quant à Cailliau,
    grand amateur de Lego, il profite de sa retraite, ponctuée de conférences et
    d’inquiétudes. Parmi celles-ci, la mainmise par le privé sur les données des
    citoyens et l’absence d’un vaste mouvement de défense des utilisateurs du web.</p>
<footer>
    <p class="footer-byline">Quentin Noirfalisse <small>CC BY-SA</small></p>
</footer>
