<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {{ form.as_p  }} -->
    <textarea name="source"></textarea>
    <input type="submit" value="Submit">
</form>
