{% load static %}
<!DOCTYPE HTML>
<html lang="fr" class="normal">

<head>
    <meta charset="utf-8">
    <title>{{ object.title }}</title>
    <link rel="stylesheet" href="{% static 'publish/css/html2print.css' %}">
    <style>
        {{ object.css|safe }}
    </style>
</head>

<body>
    <!-- PAGES -->
    <div id="pages">
        <div class="paper" id="template">
            <div class="page">
                <div class="header"></div>
                <div class="body">
                    <div class="column"></div>
                </div>
                <div class="footer"></div>
            </div>
        </div>
    </div>

    <!-- STORIES -->
    <div id="stories">
        <article id="story-{{ object.id }}" language="en-us">
            {{ object.story_cached|safe }}
        </article>
    </div>

    <!-- JAVASCRIPT -->
    <script>
        (function () {
            'use strict';

            document.layoutcomplete = false;

            function lookupCSSVariable(name) {
                return window.getComputedStyle(document.body).getPropertyValue(name);
            }

            // Find template & container. Debug timestamps
            var template = document.querySelector("#template"),
                container = document.querySelector("#pages"),
                columnSelector = '.column',
                debug = true;

            if (debug) {
                var start = (new Date()).getTime(), end;
            }

            // Treat template so it can be cloned as pages
            template.removeAttribute('id');
            template.parentNode.removeChild(template);

            var columnTemplate = template.querySelector(columnSelector),
                columnContainer = columnTemplate.parentElement,
                columnCount = lookupCSSVariable('--column-count');

            columnContainer.removeChild(columnTemplate);

            if (columnCount && columnTemplate) {
                console.log("Inserting columns");
                for (var i = 0; i < columnCount; i++) {
                    columnContainer.appendChild(columnTemplate.cloneNode(true));
                }
            }

            // Start flowing after stories are loaded
            window.addEventListener("load", function () {
                console.log("Stories are loaded");
                console.log((document.nativesupport) ? 'Native support' : 'Support through polyfill');

                // Set listener on main flow to set page state to layout complete
                // when content is flown
                document.getNamedFlow('flow-main').addEventListener("regionlayoutcomplete", function () {
                    document.layoutcomplete = true;
                    var e = document.createEvent("Event");
                    e.initEvent('layoutcomplete', false, true);
                    document.dispatchEvent(e);
                });

                if (debug) {
                    document.getNamedFlow('flow-main').addEventListener("regionlayoutcomplete", function () {
                        end = (new Date()).getTime();
                        console.log('Flow fitting finished in ' + (.001 * (end - start)).toFixed(3) + ' seconds.');
                        console.log(document.querySelectorAll('.paper').length + ' pages.');
                    });
                }

                console.log('Started flow fitting');
                window.fitFlow(document.getNamedFlow('flow-main'), template, container, function (node) { return node.classList.contains('paper') });
            });

            document.addEventListener("regionlayoutstart", function () {
                var e = document.createEvent("Event");
                e.initEvent('layoutstart');
                document.dispatchEvent(e);
            });
        })();
    </script>
    {% comment %} {% endcomment %}
    <script src="{% static 'html2print/js/stories.js' %}"></script>
    <script src="{% static 'html2print/js/flow.js' %}"></script>
</body>

</html>