{% load static %}

<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Fiddle. Editing {{ slug }}</title>

    <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/codemirror.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="{% static 'publish/css/styles.css' %}">

    <script id="sandbox-html-tpl" type="text/template">
    {% include "publish/underscore/html.mtpl" %}
    </script>

    <!-- Empty template to prevent Marionette from complaining -->
    <script id="sandbox-css-tpl" type="text/template"></script>

    <script id="sandbox-list-tpl" type="text/template">
    {% include "publish/underscore/list.mtpl" %}
    </script>


    <script id="sandbox-edit-tpl" type="text/template">
    {% include "publish/underscore/edit.mtpl" %}
    </script>


    <script id="create-tpl" type="text/template">
    {% include "publish/underscore/create.mtpl" %}
    </script>


    <script id="list-item-tpl" type="text/template">
    {% include "publish/underscore/list-item.mtpl" %}
    </script>
</head>

<body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/split.js/1.2.0/split.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.radio/2.0.0/backbone.radio.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/3.2.0/backbone.marionette.min.js"></script>

    <script src="{% static 'publish/js/models.js' %}"></script>
    <script src="{% static 'publish/js/collections.js' %}"></script>
    <script src="{% static 'publish/js/views.js' %}"></script>
    <script src="{% static 'publish/js/controllers.js' %}"></script>
    <script src="{% static 'publish/js/routers.js' %}"></script>
    <script src="{% static 'publish/js/apps.js' %}"></script>
    <script src="{% static 'publish/js/main.js' %}"></script>
</body>

</html>
